<%= form_for(@task) do |f| %>

  <% if task.errors.any? %>    
      <h2><%= pluralize(task.errors.count, I18n.t(:錯誤樣版)) %> <%= t('禁止儲存此任務樣版') %></h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
  <% end %>

  <%= f.label :title, I18n.t(:任務標題樣版) %>
  <%= f.text_field :title %> <br />

  <%= f.label :content, I18n.t(:任務內容樣版) %>
  <%= f.text_field :content %> <br />

  <%= f.submit %>
<% end %>