<%= form_for(@task) do |f| %>

  <% if task.errors.any? %>    
      <h2><%= pluralize(task.errors.count, I18n.t(:錯誤樣版)) %> <%= t('禁止儲存此任務樣版') %></h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
  <% end %>

  <%= f.label :title, I18n.t(:任務標題樣版) %>
  <%= f.text_field :title ,class: 'form-control'%> <br />

  <%= f.label :content, I18n.t(:任務內容樣版) %>
  <%= f.text_field :content ,class: 'form-control'%> <br />

  <%= f.label :end_time, I18n.t(:結束時間樣版) %>
  <%= f.time_field :end_time ,type: "datetime-local",class: 'form-control' %> <br />

  <%= f.label :status_type, I18n.t(:狀態樣版) %>
  <%= f.select(:status_type, options_for_select([['待處理','待處理'],['進行中','進行中'], ['完成','完成']]), prompt: "請選擇狀態") %> <br />

  <%= f.label :priority_type %>
  <%= f.select(:priority_type, options_for_select([['高','高'],['中','中'], ['低','低']]), prompt: "請選擇優先順序") %> <br />

  <%= f.submit %>
<% end %>